@media screen and (max-width: 576px) {
  .hamburger-manu {
    display: block;
    margin-right: 30px;
  }
  .manu {
    display: none;
  }
  .navbar {
    margin-left: 30px;
  }
  .banner {
    flex-direction: column;
    margin-left: 40px;
  }
  .workout-img{
   grid-template-columns: repeat(1, 1fr);
   padding-left: 150px;

  }
  .run-esily-wraper {
    flex-direction: column;
    height: 600px;
    padding-left: 30px;
  }
  .run-text{
    display: block;
    align-items: center;
  }
  .join-now-btn{
    padding: 8px 130px;
  
  }
  .bmi-section-wraper{
    grid-template-columns: repeat(1,1fr);
    margin-left: 70px;
  }
  
  .team-member-area{
    height: 1900px;
  

  }
  .team-member-wraper{
    grid-template-columns:repeat(1,1fr);
    height: 1000px;
  }
  .indivisul-member-1 ,.indivisul-member-2,.indivisul-member-3,
  .indivisul-member-4,.indivisul-member-5,
  .indivisul-member-6{
    margin-left: 40px;
  }
  .feedback-wraper{
    flex-direction: column;
    height: 1000px;
  }
  footer{
    height: 750px;
  }
  .footer-section{
    height: 700px;
    
  }
  .footer-wraper{
    flex-direction: column;
   margin-left: 50px;
  }
  
}

