@media screen and (max-width: 576px) {
  .hamburger-manu {
    display: block;
    margin-right: 30px;
  }
  .manu {
    display: none;
  }
  .navbar {
    margin-left: 30px;
  }
  .banner {
    flex-direction: column;
    margin-left: 40px;
  }
  .workout-img{
   grid-template-columns: repeat(1, 1fr);
   padding-left: 150px;

  }
  .run-esily-wraper {
    flex-direction: column;
    height: 600px;
    padding-left: 30px;
  }
  .run-text{
    display: block;
    align-items: center;
  }
  .join-now-btn{
    padding: 8px 130px;
  
  }
  .bmi-section-wraper{
    grid-template-columns: repeat(1,1fr);
    margin-left: 20px;
  }
  .footer-section{
    height: 800px;
    
  }
  .footer-wraper{
    flex-direction: column;
   
  }
  
}

